<navbar></navbar>

<div ng-if="hasAccess">
  <div class="large-3 large-centered columns">
    <div class="panel auth-panel">
      <div class="row">
        <div class="large-12">
          <h3>Zmiana hasła</h3>
          <form name="form" ng-submit="submit(form)" novalidate>

            <div class="row">
              <div class="large-12 columns">
                <label>Stare hasło
                  <input type="password"
                         name="oldPassword"
                         ng-minlength="5"
                         ng-model="user.oldPassword"
                         placeholder="Stare hasło"
                         required>
                </label>
                <small class="error error-label"
                       ng-if="passwordIncorrect">
                  Hasło niepoprawne
                </small>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Nowe hasło
                  <input type="password"
                         name="newPassword"
                         ng-minlength="5"
                         ng-model="user.newPassword"
                         placeholder="Nowe hasło"
                         required>
                </label>
                <small class="error error-label"
                       ng-if="(form.password.$error.required || form.password.$error.minlength) && submitted">
                  Podaj poprawne hasło (min. 5 znaków)
                </small>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Powtórz nowe hasło
                  <input type="password"
                         name="confirmPassword"
                         ng-minlength="5"
                         match="user.newPassword"
                         ng-model="user.password"
                         placeholder="Powtórz hasło"
                         required>
                </label>
                <small class="error error-label"
                       ng-if="form.confirmPassword.$error.match && submitted">
                  Hasła muszą się zgadzać.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <button class="button expand" type="submit">Zmień hasło</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="!hasAccess">
  Brak dostępu.
</div>
