<navbar></navbar>

<div ng-if="hasAccess">
  <div class="row">
    <div data-ng-init="init()">

      <div class="row">
        <div class="panel" ng-show="!loaded.movies">
          <p>Ładowanie listy filmów...</p>
        </div>
        <div class="panel" ng-show="!loaded.halls">
          <p>Ładowanie listy sal...</p>
        </div>
        <div class="panel" ng-show="!loaded.seances">
          <p>Ładowanie listy seansów...</p>
        </div>
        <div class="panel" ng-show="movies.length == 0 && loaded.movies">
          <p>Brak danych do wyświetlenia</p>
        </div>
        <div class="panel" ng-show="alerts.length > 0">
          <p>{{ alerts[alerts.length - 1].value }}</p>
        </div>
      </div>

      <div class="panel" ng-show="halls.length > 0 && formShow != false">
        <form name="formSeance" ng-submit="sendDateFromForm(formSeance)">
          <fieldset>
					<span ng-show="seanceForm._id == 0">
						<h4>Dodanie seansu do filmu "{{ movie.title }}" </h4>
					</span>
					<span ng-show="seanceForm._id > 0">
						<h4>Edycja seansu filmu "{{ movie.title }}" - identyfikator seansu: {{ seanceForm._id }} </h4>
					</span>

            <label for="date">Data seansu
              <input
                required
                placeholder="Data seansu"
                type="date"
                name="date"
                ng-model="dateTime.date">
            </label>

            <label for="time">Godzina seansu
              <input
                required
                placeholder="Godzina rozpoczęcia seansu"
                type="text"
                name="time"
                pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                ng-model="dateTime.time">
            </label>

            <label="cost">Cena biletu
            <input
              required
              placeholder="Cena biletu"
              ng-model="seanceForm.cost"
              type="number"
              name="cost"
              min="1"
              value="seanceForm.cost">
            </label>

            <label for="hall">Sala
              <select
                name="hall"
                ng-model="seanceForm.hall_id"
                required
                ng-options="hall._id as hall.name for hall in halls">
              </select>
            </label>

            <label for="id">
              <input
                ng-show="seanceForm._id != 0"
                type="hidden"
                ng-model="seanceForm._id"
                value="{{ seanceForm._id }} "
                name="id"
                disabled>
            </label>

            <label for="movie">
              <input
                type="hidden"
                ng-model="movie"
                value="movie._id"
                name="movie"
                required
                disabled>
            </label>

            <button type="submit">Zapisz</button>
          </fieldset>
        </form>
      </div>

      <div class="row" ng-show="loaded.movies">
        <div class="panel large-7 columns">
				<span ng-show="searchRun">
				<p>Trwa wyszukiwanie...</p>
				</span>
          <form name="form" ng-submit="search(form)" style="display: inline-block; margin: 0 auto">
            <label for="movieTitle" style="float: left">						<input
              type="text"
              maxlength="50"
              size="50"
              placeholder="Szukaj filmów..."
              hint="Szukaj filmów"
              id="searchTitle"
              name="title"
              ng-model="searchTitle"
              pattern="[A-Za-z0-9 ]{1,50}"
              style="margin: 0 auto">
            </label>
            <button value="Szukaj" style="float: right; margin-left: 5px; padding-bottom: 10px;  padding-top: 10px;" type="submit">Szukaj</button>
          </form>
        </div>
        <div class="panel large-5 columns" style="background-color: #eeedee; border: none">
          <form ng-show="movie != null" ng-submit="showForm()" style="display: inline-block; margin: 0 auto">
            <button ng-show="!formShow" type="submit" style="float: right; margin-left: 5px; padding-bottom: 10px; padding-top: 10px;">Dodaj seans</button>
            <button ng-show="formShow" type="submit" style="float: right; margin-left: 5px; padding-bottom: 10px; padding-top: 10px;">Ukryj panel</button>
            <button ng-show="formShow" ng-click="clear()" type="button" style="float: right; margin-left: 5px; padding-bottom: 10px; padding-top: 10px;">Wyczyść</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="large-2 columns">
          <div class="row">
            <div class="large-7 columns">
              <div ng-show="movies.length > 0">
                <table>
                  <thead>
                  <tr>
                    <td>lp.</td>
                    <td>Tytuł</td>
                    <td>Czas trwania</td>
                    <td>Ilość seansów</td>
                    <td></td>
                  </tr>
                  </thead>

                  <tbody ng-repeat="movie in movies | orderBy: '-_id' | limitTo: moviesToShow">
                  <tr>
                    <td> {{ $index + 1 }} </td>
                    <td> {{ movie.title }} </td>
                    <td> {{ movie.duration }} min. </td>
                    <td> {{ movie.seances.length }}  </td>
                    <td>
                      <a href="" ng-click="selectMovie(movie)">WYBIERZ</a>
                    </td>
                  </tr>
                  </tbody>

                  <tfoot ng-show="movies.length > moviesToShow">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ng-click="showAll()" class="pointer">Pokaż więcej ({{ movies.length - moviesToShow }})...</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="large-5 columns">
          <div class="row">
            <div ng=show="movie != null">
              <div class="panel" ng-show="movie.seances.length == 0">
                <p>Brak danych do wyświetlenia</p>
              </div>
            </div>
            <div panel seances-admin-seances-list" ng-show="movie.seances.length > 0">
            <table style="width=100%;">
              <thead>
              <tr>
                <td>lp.</td>
                <td>Data</td>
                <td>Godzina</td>
                <td>Cena</td>
                <td>Sala</td>
                <td></td>
                <td></td>
              </tr>
              </thead>

              <tbody ng-repeat="seance in movie.seances | orderBy: '-date'">
              <tr>
                <td> {{ $index + 1 }} </td>
                <td>{{ seance.date.split("T")[0] }}</td>
                <td>{{ seance.date.split("T")[1].split(".")[0] }} </td>
                <td> {{ seance.cost }} zl.</td>
                <td> {{ seance.hall.name }}</td>
                <td ng-click="editSeance(seance)">EDYTUJ</td>
                <td ng-click="deleteSeance(seance)">USUŃ</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div ng-if="!hasAccess">
  Brak dostępu.
</div>
