.main-movie {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.other-movie {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
}

.dashboard-link {
  color: white;
}

.dashboard-link:hover {
  color: white;
}

.movie-container {
  padding-right: 0;
  padding-left: 0;
}

.dashboard-text {
  color: white;
  margin-top:0;
  padding: 20px;
  font-size: 20px;
}

.dashboard-container {
  margin-bottom: 20px;
}

.dashboard-text-main {
  padding: 150px 0 0 40px;
  font-size: 60px;
}

.dashboard-text-description {
  padding: 100px 0 0 40px;
  color: white;
}
