<h4>Moje rezerwacje</h4>
<hr>
<div class="row" ng-if="reservations.length === 0">
  <h5>Nie masz żadnych rezerwacji</h5>
</div>
<div class="row" ng-repeat="reservation in reservations">
  <div class="large-2 columns">
    <img src="http://placehold.it/80x80&text=[img]">
  </div>
  <div class="large-8 columns">
    <h5>
      <a ng-class="isPast(reservation) ? 'reservation-past' : ''" ui-sref="movies({movieId: reservation.seance.movie._id})">{{reservation.seance.movie.title}}</a></h5>
    <p ng-class="isPast(reservation) ? 'reservation-past' : ''">{{reservation.seance.preetyDate}}, godz. {{reservation.seance.hour}}, sala: {{reservation.seance.hall.name}}, miejsce: {{reservation.chair}}, kod rezerwacji: <strong>{{reservation.reservation_code}}</strong></p>
  </div>
  <div class="large-2 columns">
    <a href="" class="button small alert" ng-click="onDelete({id: reservation._id})">Anuluj rezerwację</a>
  </div>
</div>
