<navbar></navbar>

<div class="large-3 large-centered columns">
  <div class="panel auth-panel">
    <div class="row">
      <div class="large-12">
        <h3>Rejestracja</h3>
        <form name="form" ng-submit="register(form)" novalidate>
          <div class="row">
            <div class="large-12 columns">
              <input type="text"
                     ng-class="form.nick.$error.required && submitted ? 'error' : ''"
                     name="nick"
                     ng-model="user.nick"
                     placeholder="Nick"
                     required>
              <small class="error error-label" ng-if="form.nick.$error.required && submitted">
                To pole jest wymagane.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input type="email"
                     ng-class="form.email.$error.email || form.email.$error.required && submitted ? 'error' : ''"
                     name="email"
                     ng-model="user.email"
                     placeholder="Email"
                     required>
              <small class="error error-label" ng-if="form.email.$error.email || form.email.$error.required && submitted">
                Podaj poprawny email.
              </small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input type="password"
                     name="password"
                     ng-minlength="5"
                     ng-class="(form.password.$error.required || form.password.$error.minlength) && submitted ? 'error' : ''"
                     ng-model="user.password"
                     placeholder="Hasło"
                     required>
              <small class="error error-label"
                     ng-if="(form.password.$error.required || form.password.$error.minlength) && submitted">
                Podaj poprawne hasło (min. 5 znaków)
              </small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input type="password"
                     name="passwordretype"
                     ng-minlength="5"
                     ng-class="(passwordRetype !== user.password) && submitted ? 'error' : ''"
                     ng-model="passwordRetype"
                     placeholder="Powtórz hasło"
                     required>
              <small class="error error-label" ng-if="passwordRetype !== user.password && submitted">
                Hasła muszą się zgadzać.
              </small>
            </div>
          </div>

          <small ng-if="errors.other" class="error error-label">{{ errors.other }}</small>

          <div class="row">
            <div class="large-12 columns">
              <button class="button expand" type="submit">Utwórz konto</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
