<navbar></navbar>
<div class="row panel">
  <h3>Ustawienia profilu</h3>
  <br>
  <div class="row">
    <div class="large-3 columns">
      <form name="form">
        <strong>Avatar:</strong>
        <label for="avatar">
          <img ng-if="avatar" ngf-thumbnail="avatar" class="avatar-large th">
          <img ng-if="!avatar" class="avatar-large th" ng-src="{{ avatar || ('assets/images/avatars/' + (user.avatar || 'anonymous.jpg')) }}">
        </label>
        <input id="avatar"
               ngf-change="changeAvatar(form)"
               type="file" ngf-select
               name="avatar"
               accept="image/*"
               ng-model="avatar"
               ngf-pattern="'.jpg,.png,.bmp'">
        <br>
        <a ng-if="newAvatar" href="" class="button small" ng-click="upload(avatar)">Zapisz</a>
      </form>

    </div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-12 columns">
          <strong>Nick:</strong> {{ user.nick }}
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <strong>Email:</strong> {{ user.email }}
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <strong>Uprawnienia:</strong> {{ user.role }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="large-12 columns">
          <a href="" ui-sref="passwordChange" class="button small">Zmień hasło</a>
        </div>
      </div>
      <div class="row" ng-if="user.role === 'user'">
        <div class="large-12 columns">
          <a href="" class="button small">Usuń konto</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row panel" ng-if="user.role === 'user'">
  <reservation-list reservations="reservations"></reservation-list>
</div>
<div class="row panel" ng-if="isEmployee()">
  <h3>Dane pracownika</h3>
  <div class="row" ng-repeat="column in columns">
    <div class="large-12 columns">
      <strong>{{ column.guiName }}: </strong>{{ user.employee_data[column.dbName] }}
    </div>
  </div>
</div>
