<div>


  <form name="form" ng-submit="submit(row, form)" novalidate>
    <h3>Dane pracownika</h3>
    <div class="row" ng-repeat="column in columns">
      <div class="large-2 columns">
        <div class="right">
          <strong>{{ column.guiName }}</strong>
        </div>
      </div>
      <div class="large-10 columns">
        <div ng-if="column.type === 'text'">
          <input type="text"
                 name="{{column.dbName}}"
                 ng-maxlength="255"
                 ng-model="row[column.dbName]"
                 placeholder="{{ column.guiName }}"
                 ng-required="column.isRequired">

          <small class="error error-label"
                 ng-if="(form[column.dbName].$error.required || form[column.dbName].$error.maxlength) && form[column.dbName].$dirty">
            To pole jest wymagane (max. 255 znaków)
          </small>
        </div>
        <div ng-if="column.type === 'date'">
          <input type="date"
                 name="{{column.dbName}}"
                 ng-model="row[column.dbName]"
                 ng-required="column.isRequired">
          <small class="error error-label"
                 ng-if="(form[column.dbName].$error.required) && form[column.dbName].$dirty">
            To pole jest wymagane
          </small>
        </div>

      </div>
    </div>
    <br>
    <h3>Dane do logowania</h3>

    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Nick</strong>
        </div>
      </div>
      <div class="large-10 columns">
        <input type="text"
               name="nick"
               ng-model="row.user.nick"
               placeholder="Nick"
               required>
        <small class="error error-label" ng-if="form.nick.$error.required && form.nick.$dirty">
          To pole jest wymagane.
        </small>
      </div>

    </div>

    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Email</strong>
        </div>
      </div>
      <div class="large-10 columns">
        <input type="email"
               name="email"
               ng-model="row.user.email"
               placeholder="Email"
               required>
        <small class="error error-label" ng-if="(form.email.$error.email || form.email.$error.required) && form.email.$dirty">
          Podaj poprawny email.
        </small>
      </div>

    </div>

    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Uprawnienia</strong>
        </div>
      </div>
      <div class="large-10 columns">
        <select name="role"
                ng-model="row.user.role">
          <option ng-repeat="role in roles" value="{{role}}">{{ role }}</option>
        </select>
      </div>
    </div>
    <div ng-if="mode === 'create'">
      <div class="row">
        <div class="large-2 columns">
          <div class="right">
            <strong>Hasło</strong>
          </div>
        </div>
        <div class="large-10 columns">
          <input type="password"
                 name="password"
                 ng-minlength="5"
                 ng-model="row.user.password"
                 placeholder="Hasło"
                 required>
          <small class="error error-label"
                 ng-if="(form.password.$error.required || form.password.$error.minlength) && form.password.$dirty">
            Podaj poprawne hasło (min. 5 znaków)
          </small>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <div class="right">
            <strong>Powtórz hasło</strong>
          </div>
        </div>
        <div class="large-10 columns">
          <input type="password" name="confirmPassword" ng-model="row.user.confirmPassword"
                 match="row.user.password"
                 ng-minlength="5"
                 required=""/>
          <small class="error error-label" ng-if="form.confirmPassword.$error.match">
            Hasła muszą się zgadzać.
          </small>
        </div>
      </div>
    </div>
    <br>
    <div class="right">
      <ul class="button-group">
        <li>
          <button class="button secondary" ng-click="$dismiss()">Anuluj</button>
        </li>
        <li>
          <button class="button primary" ng-disabled="form.$invalid" type="submit">
            Zapisz
          </button>
        </li>
      </ul>
    </div>
  </form>



</div>
