<navbar></navbar>
<div ng-app="dotCinemaApp" ng-controller="SeansesAdminController" data-ng-init="init()">

	<div class="large-3" ng-show="loaded.movies">
		<span ng-show="searchRun">Trwa wyszukiwanie...</span>
		<form name="form" ng-submit="search(form)">
			<input type="text" maxlength="50" size="50" hint="Search movie" name="title" ng-model="searchTitle"/> 
			<button type="submit">Szukaj</button>
		</form>
	</div>

	<div ng-show="!loaded.movies"><p>Ładowanie listy filmów...</p></div>
	<div ng-show="!loaded.halls"><p>Ładowanie listy sal...</p></div>

	<div ng-show="movies.length > 0">
		<div style="float:left;">
			<table>
				<thead>
					<tr>
						<td></td>
						<td>Title</td>
						<td>Duration</td>
						<td>Description</td>
						<td>Count</td>
						<td></td>
					</tr>
				</thead>
				<tbody ng-repeat="movie in movies | orderBy: '-_id' | limitTo: moviesToShow">
					<tr>
						<td></td>
						<td> {{ movie.title }} </td>
						<td> {{ movie.duration }} min. </td>
						<td> {{ movie.description }}  </td>
						<td> {{ movie.seances.length }}  </td>
						<td ng-click="selectMovie(movie)">Wybierz</td>
					</tr>
				</tbody>
				<tfoot ng-show="movies.length > moviesToShow">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td ng-click="showAll()">Show more ({{ movies.length - moviesToShow }})...</td>
					</tr>
				</tfoot>			
			</table>
		</div>
		<div style="float:right;">
			<div style="float:left;" ng=show="movie != null">
				<div ng-show="movie.seances.length == 0">
					<p>Brak danych do wyświetlenia</p>
				</div>
				<div ng-show="movie.seances.length > 0">
					<table style="width=100%;">
						<thead>
							<tr>
								<td>Data</td>
								<td>Godzina</td>
								<td>Cena</td>
								<td>Sala</td>
							</tr>
						</thead>
						<tbody ng-repeat="seance in movie.seances | orderBy: '-date'">
							<tr>
								<td>{{ seance.date.split("T")[0] }}</td>
								<td>{{ seance.date.split("T")[1].split(".")[0] }} </td>
								<td> {{ seance.cost }} zl.</td>
								<td> {{ seance.hall.name }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="movies.length == 0 && loaded.movies">
		<p>Brak danych do wyświetlenia</p>
	</div>
</div>