<div>
  <form name="form" ng-submit="submit(row)" novalidate>
    <h3>Dane filmu</h3>
    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Tytuł: </strong>
        </div>
      </div>
      <div class="large-10 columns">
        <input type="text"
               name="title"
               ng-maxlength="255",
               ng-model="row.title"
               placeholder="Tytuł"
               required>
        <small class="error error-label"
               ng-if="(form.title.$error.required || form[column.dbName].$error.maxlength) && form.title.$dirty">
          To pole jest wymagane (max. 255 znaków)
        </small>
      </div>
    </div>

    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Czas trwania: </strong>
        </div>
      </div>
      <div class="large-10 columns">
        <input type="number"
               name="duration"
               ng-model="row.duration"
               required>
        <small class="error error-label"
               ng-if="(form.duration.$error.required)">
          To pole jest wymagane
        </small>
      </div>
    </div>

    <div class="row">
      <div class="large-2 columns">
        <div class="right">
          <strong>Opis: </strong>
        </div>
      </div>
      <div class="large-10 columns">
        <textarea ng-model="row.description"
                  ng-model-options="{updateOn: 'movieSave'}"
                  rows="4"></textarea>
      </div>
    </div>

    <div class="row" ng-if="mode === 'update'">
      <div class="large-2 columns">
        <div class="right">
          <strong>Okładka</strong>
        </div>
      </div>
      <div class="large-10 columns">

        <label for="cover">
          <img ng-if="cover" ngf-thumbnail="cover" class="movie-cover th">
          <img ng-if="!cover" class="movie-cover th" ng-src="{{ cover || (row.cover ? ('assets/images/covers/' + row.cover) : 'http://placehold.it/350x200') }}">
        </label>
        <input id="cover"
               ngf-change="upload(form, cover)"
               type="file" ngf-select
               name="cover"
               accept="image/*"
               ng-model="cover"
               ngf-pattern="'.jpg,.png,.bmp'">

      </div>
    </div>
    <br>
    <div class="right">
      <ul class="button-group">
        <li>
          <button class="button secondary" ng-click="$dismiss()">Anuluj</button>
        </li>
        <li>
          <button class="button primary" type="submit" ng-disabled="form.$invalid">
            Zapisz
          </button>
        </li>
      </ul>
    </div>
  </form>

</div>
